<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1> OCR Tool </h1>
      <p> Najlepszy ocr  <p>
    </div>
    <label for="image_file">Wybierz obraz</label>
    <input class="btn btn-warning" type="file" id="image_file" name="myfile" multiple>
    <br>
    <button class="btn btn-success" onclick="performOCR()"> Odczytaj tekst </button>

    <br>

    <hr style="width:100%;text-align:left;margin-left:0">
    <hr style="width:100%;text-align:left;margin-left:0">

  </div>
</body>

<script>
  function performOCR(){
    var files = document.getElementById("image_file").files
    var formData = new FormData();
    var endpoint = '/extract_text';
    formData.append('image', files[0])

    $.ajax({
      type: 'POST',
      url: endpoint,
      data: formData,
      contentType: false,
      cache: false,
      processData: false,
      success: function (data){
        swal("Odczytany tekst", data.text);
      }
    });

  }


</script>
</html>