<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron" style="text-align:center">
      <h1>  Ultra Fantastic OCR tool </h1>
      <p> Zaawansowane narzędzie do zaawansowanego odczytywania tekstu z obrazów  <p>
    </div>
    <label for="image_file">Wybierz obraz</label>
    <input class="btn btn-warning" type="file" id="image_file" name="myfile" multiple>
    <br>
    <button class="btn btn-success" onclick="performOCR()"> Odczytaj tekst </button>
     <br>
    <div class="form-group" align="right">
    <label for="resultTextarea1">Result</label>
    <textarea style="float:right" class="form-control" id="resultTextarea1" rows="6" ></textarea>
      <br>
      <button onclick="copy()">Copy</button>
    </div>


    <hr style="width:100%;text-align:left;margin-left:0">
    <hr style="width:100%;text-align:left;margin-left:0">

  </div>
</body>

<script>
  function copy() {
  let textarea = document.getElementById("textarea");
  textarea.select();
  document.execCommand("copy");
}


  function performOCR(){
    var files = document.getElementById("image_file").files
    var formData = new FormData();
    var endpoint = '/extract_text';
    formData.append('image', files[0])

    $.ajax({
      type: 'POST',
      url: endpoint,
      data: formData,
      contentType: false,
      cache: false,
      processData: false,
      success: function (data){
        <!--swal("Odczytany tekst", data.text);-->
        $("#resultTextarea1").val(data.text);
      }
    });

  }


</script>
</html>